* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
}

body {
	background-color: #0a9396;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 1s;
	background-position: center;
	background-size: cover;
	/* background: url(Wallpapers/6.jpg); */
}

.content {
	/* width: 1150px; */
	max-width: 1000px;
	/* height: 550px; */
	/* border: 1px solid black; */
}

.baseImg {
	width: 80px;
	transition: 700ms;
	display: block;
}

.secondImg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 115px;
	z-index: -1;
}

div {
	display: inline-block;
	padding: 0px;
	transition: 500ms;
	overflow: hidden;
	/* Just a fix for all browsers */
	-webkit-overflow: hidden;
	-moz-overflow: hidden;
	-ms-overflow: hidden;
	-o-overflow: hidden;
	margin: 5px;
	border-radius: 5px;
}

main {
	text-align: center;
}

.shrinked {
	transform: scale(0) translateX(-500px);
	translate: 1000ms;
}

.expanding {
	transform: scale(1);
	translate: 1000ms;
}

.settings2 {
	position: absolute;
	top: 5px;
	left: 5px;
	cursor: pointer;
}

.settingsMenu2 {
	position: absolute;
	width: 285px;
	z-index: 2;
	margin: 0 auto;
	background-color: rgba(245, 245, 245, 0.95);
	border-radius: 5px;
	text-align: center;
}

.settingsMenu2 h2 {
	margin-top: 30px;
}

.settingsMenu2 section {
	margin: 30px;
}

#next,
#stop,
#secret {
	padding: 10px;
	cursor: pointer;
	border-radius: 5px;
	transition: 500ms;
}

#stop {
	color: yellow;
	border: yellow;
	background-color: orange;
}

#next {
	color: lime;
	border: lime;
	background-color: green;
	margin-left: 10px;
}

#secret {
	color: magenta;
	border: magenta;
	background-color: rgb(58, 3, 58);
	margin-left: 10px;
}

.settings {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.settingsMenu {
	position: absolute;
	width: 200px;
	z-index: 2;
	background-color: rgba(245, 245, 245, 0.95);
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
}

.settingsMenu h2 {
	margin-top: 30px;
	text-shadow: 0px 0px 20px black, 0px 0px 3px red;
}

.settingsMenu div {
	font-weight: bold;
	margin-top: 40px;
}

.settingsMenu aside {
	margin-top: 10px;
	font-size: 12px;
}

.settingsMenu2 aside {
	margin-top: 15px;
	font-size: 11px;
}

.blueWarning {
	color: #0a9396;
	font-weight: bold;
	font-size: 14px;
}

.exitButton {
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 30px;
	color: red;
	font-weight: bold;
	border: 2px solid red;
	background-color: rgb(59, 3, 3);
	transition: 500ms;
	border-radius: 5px;
	text-shadow: 0px 0px 10px black, 0px 0px 30px black;
}

button:hover {
	transform: scale(1.2);
}

.fullScreenButton {
	margin-top: 20px;
	color: cyan;
	border: 2px solid cyan;
	border-radius: 5px;
	padding: 5px;
	background-color: rgb(3, 82, 185);
	transition: 500ms;
}

.settingsShrinked {
	transform: scale(0);
	visibility: hidden;
	translate: 1000ms;
}

.settingsExpanded {
	transform: scale(1);
	visibility: visible;
	translate: 1000ms;
}

.googleWarning {
	color: red;
	text-transform: uppercase;
	font-weight: bold;
}

footer {
	position: fixed;
	bottom: 10px;
	font-size: 12px;
	margin: 0 auto;
	color: white;
}

footer a {
	font-weight: bold;
	color: rgb(199, 194, 194);
	text-decoration: none;
	text-shadow: 0px 0px 1px red, 0px 0px 5px red;
}

.set1exit,
.set2exit {
	position: absolute;
	right: 0px;
	cursor: pointer;
}

.set1exit {
	top: 0px;
}

.set2exit {
	top: -35px;
}

.picInfo {
	font-weight: bold;
	color: rgb(0, 110, 255);
}

.picInfoMax {
	font-weight: bold;
	color: rgb(196, 127, 0);
}

.scoreboard {
	position: fixed;
	top: 5px;
	border: transparent;
	width: 100px;
	text-align: center;
	background-color: rgba(218, 218, 218, 0.767);
	visibility: hidden;
	font-weight: bold;
	z-index: 10;
}

.userInfo {
	position: absolute;
	top: 5px;
	left: 50px;
	cursor: pointer;
}

.scoreboardInfo {
	position: absolute;
	width: 230px;
	z-index: 2;
	background-color: rgba(245, 245, 245, 0.95);
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
}

.updateUserInput {
	text-align: center;
}

.scoreboardInfo h2 {
	margin-top: 30px;
	text-shadow: 0px 0px 20px black, 0px 0px 3px rgba(0, 243, 20, 0.418);
}

.scoreboardInfo p {
	margin-top: 30px;
	font-size: 11px;
	font-weight: bold;
}

.scoreboardInfo p span {
	color: red;
	font-size: 14px;
}

.scoreboardInfo input {
	margin-top: 10px;
	border-radius: 5px;
	border: 2px solid black;
}

.scoreboardInfo button {
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid white;
	color: white;
	background-color: black;
	box-shadow: 0px 0px 1px 1px black;
	transition: 500ms;
}

.set3exit {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

.dbTop10 {
	position: absolute;
	top: 5px;
	left: 95px;
	cursor: pointer;
}

.dbTop10Field {
	position: absolute;
	width: 230px;
	z-index: 2;
	background-color: rgba(245, 245, 245, 0.95);
	border-radius: 5px;
	text-align: center;
	margin: 0 auto;
	background: url(Images/conffetti2.gif);
}

.dbTop10Field h2 {
	margin-top: 30px;
	text-shadow: 0px 0px 20px black, 0px 0px 5px rgb(255, 208, 0);
}

.scoreboardData {
	margin-top: 35px;
}

.scoreboardDataParticles {
	display: block;
	background-color: rgb(173, 173, 173);
	padding: 10px;
}

.set4exit {
	position: absolute;
	top: 0px;
	right: 0px;
	cursor: pointer;
}

@media only screen and (max-width: 700px) {
	body {
		display: block;
		margin-top: 50px;
	}
	.settingsMenu {
		margin-top: 115px;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.settingsMenu2 {
		margin-top: 115px;
		left: 50%;
		transform: translate(-50%, 0%);
	}
	footer {
		left: 50%;
		transform: translate(-50%, 0%);
		font-size: 8px;
	}
	.scoreboard {
		left: 50%;
		transform: translate(-50%, 0%);
	}
	.scoreboardInfo {
		margin-top: 115px;
		left: 50%;
		transform: translate(-50%, 0%);
	}
}

@media only screen and (max-width: 500px) {
	.baseImg {
		width: 60px;
	}
}

@media only screen and (max-width: 350px) {
	.baseImg {
		width: 50px;
	}
}
